{% extends 'base.html' %}
{% load thumbnail %}
{% load bootstrap3 %}
{% load bootstrap_pagination %}

{% block page_title %}
    Hello Instagram
{% endblock %}

{% block content %}
    <div class="post">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <a href="{% url 'user_page' username=post.user.username %}">{{ post.user.username }}</a>
                {% thumbnail post.image "500x500" crop="center" as im %}
                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"  class="img-thumbnail">
                {% endthumbnail %}
                <p>{{ post.description }}</p>
                
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            {% if request.user.is_authenticated %}
                <form action="{{ request.path }}" method="POST">
                    {% csrf_token %}
                    {% bootstrap_form comment_form %}
                    <button class="btn btn-success" type="submit">Save</button>
                </form>
            {% else %}
            <a href="{% url 'sign_in' %}">Sign in to post comments</a>
            {% endif %}
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
        {% for comment in page %}
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6">
                            <h5><a href="{% url 'user_page' username=post.user.username %}">
                                {% thumbnail comment.user.profile.userpic "50x50" crop="center" as im %}
                                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"  class="img-thumbnail" style="border-radius: 50%">
                                {% empty %}
                                <img src="http://placehold.it/50X50&text={{ page_user.username }}" class="img-thumbnail" style="border-radius: 50%">
                                {% endthumbnail %}
                                {{ comment.user.username }}
                            </a></h5>
                        </div>
                        <div class="col-md-6">
                            <span class="pull-right">{{ comment.created_date | date:"M d, Y" }}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            {{ comment.text }}
                        </div>
                    </div>
                </div>
            </div>
        {% empty %}
            <h5 style="font-style:italic">No comments</h5>
        {% endfor %}
        {% if page.paginator.num_pages > 1 %}
            {% bootstrap_paginate page %}
        {% endif %}
        </div>
    </div>
{% endblock %}